*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #16161e;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  gap: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1b26;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}
.info {
  color: rgba(255, 255, 255, 0.432);
  letter-spacing: 1px;
  line-height: 1.8em;
  margin-top: 2rem;
}
input {
  height: 2.2rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.7rem;
  margin-bottom: 1.6rem;
  background-color: #242636;
  color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.308);
  transition: all 0.2s ease-in-out;
}
input.error {
  background-color: rgba(255, 5, 5, 0.096);
  border: 1px solid rgba(255, 105, 105, 0.253);
  box-shadow: 0px 5px 20px rgba(255, 5, 5, 0.219);
  scale: 1.08;
  transition: all 0.2s ease-in-out;
}
button {
  padding: 0.3rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  background-color: rgb(19, 226, 98);
  font-size: 1rem;
  color: #16161e;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  min-height: 28px;
  transition: all 0.2s ease-in-out;
}
button:disabled {
  background-color: rgb(18, 196, 86);
}
button:disabled:hover {
  background-color: rgb(18, 196, 86);

  cursor: default;
}

button:hover {
  background-color: rgb(91, 243, 149);
  cursor: pointer;
}
.btn-text {
  display: none;
}
.btn-text.active {
  display: block;
}
.hero-card {
  /* border: 1px oldlace solid; */
  border-radius: 0.5rem;
  background-color: #1a1b26;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.651);
}
.name {
  position: absolute;
  min-width: 40%;
  max-width: 100%;
  background-color: #1a1b26;
  top: -30px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem 0.4rem;
  box-sizing: border-box;
}
.type {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #1a1b26;
  border-radius: 50%;
  padding: 0.3rem;
  width: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.type .type-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-card .image {
  max-width: 355px;
  height: 200px;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-card .image:hover img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}
.hero-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.hero-card .bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
}

.bar span {
  color: white;
  font-weight: 900;
  text-shadow: -2px 3px 4px rgba(0, 0, 0, 1);
}
.healthbar {
  background: rgb(41, 101, 36);
  background: linear-gradient(
    90deg,
    rgba(41, 101, 36, 1) 0%,
    rgba(120, 236, 59, 1) 100%
  );
}
.manabar {
  background: rgb(17, 88, 219);
  background: linear-gradient(
    90deg,
    rgba(17, 88, 219, 1) 0%,
    rgba(113, 242, 254, 1) 100%
  );
  border-radius: 0 0 0.5rem 0.5rem;
}

.lds-ring {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring.active {
  display: flex;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 1.5px solid #dfc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #dfc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
